defi-head-core @ git+https://github.com/e183b796621afbf902067460/defi-head-core.git@71c63885d3dec58b92087ace732e65b16e6bb45b
fastapi~=0.88.0
fastapi-utils~=0.2.1
Jinja2~=3.1.2
psycopg2-binary~=2.9.5
PyJWT~=2.6.0
pytest~=7.2.0
python-decouple~=3.6
passlib~=1.7.4
python-jose~=3.3.0
python-multipart~=0.0.5
requests~=2.28.1
SQLAlchemy~=1.4.40
SQLAlchemy-Utils~=0.38.3
uvicorn~=0.20.0
web3~=5.30.0
httpx~=0.23.1